//шрифты
$f-family: "Noto Sans", sans-serif;
$f-title: "Oswald", sans-serif;

//цвета 
$blue: #5C8EE5;
$black: #292D33;
$gray: #828A99;
$bg2: #F0F2F5;

//Размер шрифта
$big-title: 80px;
$title: 60px;
$small-title: 28px;
$text: 16px;